.reviews {
    padding: 0 20px 50px;
    &__item {
        padding-left: 230px;
        position: relative;
        margin-top: 60px;
    }
    &__name {
        font-weight: 700;
        font-size: 18px;
        color: #0D0D0D;
    }
    &__achieve {
        font-weight: 500;
        font-size: 14px;
        color: #646464;
    }
    &__text {
        margin-top: 10px;
        font-weight: 300;
        font-size: 16px;
        color: #0D0D0D;
    }
    &__img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }
    br {
        display: block;
        margin: 5px 0;
    }

}

@media(max-width: 750px) {
    .reviews {
        &__item {
            padding-left: 0;
            padding-top: 169px;
            margin-top: 40px;
        }
        &__img {
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        &__profile {
            text-align: center;
        }
    }
}