body {
	width: 1440px;
	margin: 0 auto;
}

* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited, a:hover {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

/* Header */

.header, .footer {
	display: flex;
	align-items: center;
	width: 1206px;
	min-height: 80px;
	margin: 0 auto;
}

.header__logo {
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background-color: #5E81FE;
}

.nav {
	display: flex;
	align-items: center;
	margin-left: 73px;
}

.nav__item  {
	margin-right: 42px;
    cursor: pointer;
    user-select: none;
	color: #697CA6;
}

.nav__item:hover {
    color: #5E81FE;
}

.header__social {
	margin-left: auto;
}

.header__btn {
	width: 113px;
	height: 43px;
	margin-left: 25px;
    border-radius: 2px;
	background-color: #D2E1FF;
	color: #3A79FF;
}

/* Social */

.social {
	display: flex;
	align-items: center;
}

.social__item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	margin-right: 20px;
	cursor: pointer;
}

.social__item:hover path {
	fill: #6188FF;
}

/* Slider */

.slider {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 570px;
	background-image: url("img/slider__bg.jpg");
}

.slider__inner {
	height: 264px;
	display: flex;
	align-items: center;
	text-align: center;
	flex-direction: column;
	margin: 92px auto 0;
}

.slider__suptitle {
	margin-bottom: 16px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 10px;
	text-transform: uppercase;
	color: #3D4F9F;
}

.slider__title {
	margin-bottom: 28px;
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 300;
	font-size: 48px;
	color: #3D4F9F;
}

.slider__title span {
	font-weight: 700;
}

.slider__text {
	width: 502px;
	margin-bottom: 20px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 29px;
	color: #8D96BD;
}

.slider__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 52px;
	height: 52px;
	border-radius: 50%;
	background-color: #fff;
}

.triangle {
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-right: 0;
	border-left: 12px solid #5E81FF;
}



.slider__dots {
	margin: auto 0 28px;
}

/* Dots */

.dots {
	width: 48px;
	display: flex;
	justify-content: space-between;
}

.dots__dot {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #D1D6E3;
	cursor: pointer;
}

.dots--active {
	background-color: #5283FF;
}

/* Partners */

.partners {
	width: 100%;
    min-height: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
	background-color: white;
}

.partners__item {
    width: 120px;
    height: 30px;
    margin-right: 70px;
    cursor: pointer;
}

.partners__item:hover path {
	fill:#5982E7;

}

/* Plan */

.plan {
	width: 100%;
	min-height: 776px;
    display: flex;
	align-items: stretch;
	background-color: #F5F8FF;
}

.plan__item {
	flex: 1;
}

.plan__inner {
	width: 413px;
	margin-top: 208px;
	margin-left: auto;
}

.plan__suptitle {
	margin-bottom: 27px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 10px;
	text-transform: uppercase;
	color: #3D4F9F;
}

.plan__title {
	margin-bottom: 27px;
    font-family: 'Quicksand';
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	color: #3D4F9F;
}

.plan__title span {
	font-weight: 700;
}

.plan__text {
	margin-bottom: 50px;
    font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 29px;
	color: #8D96BD;
}

.watch-video {
    width: 130px;
    height: 43px;
    background-color: #4C85FF;
    border-radius: 3px 0 0 3px;

	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	align-items: center;
	color: #FFFFFF;
}

.watch-video::after {
	display: inline-block;
	content:"";
    margin-left: 6px;
	width: 0;
	height: 0;
	border: 4px solid transparent;
	border-right: 0;
	border-left: 7px solid white;
	border-radius: 2px;
}

.see-features {
	width: 130px;
    height: 43px;
	border: 1px solid #D1D1E4;

	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	text-align: center;
	color: #ADB4D2;
}

.plan__item {
	position: relative;
}

.plan__rem-events, .plan__rem-note, .plan__rem-search{
	box-shadow: 0px 20px 40px rgba(53, 60, 115, 0.15);
}

.plan__rem-events {
	position: absolute;
	top: 281px;
	left: 55px;
	z-index: 2;

	border-color: white;
	border-style: solid;
	border-width: 12px 1px 11px 1px;
	border-radius: 15px;
}

.plan__rem-note {
	position: absolute;
	top: 182px;
	left: 135px;
	z-index: 1;

	border-color: white;
	border-style: solid;
	border-width: 12px 15px 0 15px;
	border-radius: 15px 15px 0 0;
}

.plan__rem-note::after {
	display: block;
	content: "";
	position: absolute;
	bottom: -13px;
	right: -50px;
	width: 606px;
	height: 2px;
	background-color: white;
	border-bottom: 18px solid white;
	border-radius: 0 0 15px 15px;
}

.plan__rem-search {
	position: absolute;
	top: 335px;
	right: 113px;
	z-index: 2;

	border-color: white;
	border-style: solid;
	border-width: 9px 1px 15px 1px;
	border-radius: 15px;
}

/* About */

.about {
	width: 100%;
	min-height: 885px;
	padding-top: 171px;
	text-align: center;
	background: url(img/about__bg.jpg) no-repeat;
}

.about__suptitle {
	margin-bottom: 20px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 10px;
	text-transform: uppercase;
	color: #3D4F9F;
}

.about__title {
	margin-bottom: 92px;
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	color: #3D4F9F;
}

.about__flexbox {
	display: flex;
	justify-content: center;
	margin-bottom: 120px;
}

.about__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 140px;
	margin-right: 67px;
	position: relative;
}

.about__item:last-child {
	margin-right: 0;
}

.about__item::after {
	display: block;
	content: "";
	position: absolute;
	top: 125px;
	right: -50px;
	width: 30px;
	height: 2px;
	background-color: #DAE4FE;
}

.about__item:last-child::after {
	display: none;
}

.about__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 69px;
	height: 69px;
	margin-bottom: 33px;
	background-color: #F1F5FF;
	border-radius: 50%;
}

.about__name {
	margin-bottom: 25px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	color: #4074F8;
}

.about__text {
	width: 140px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 11px;
	color: #ADB3CB;
	line-height: 19px;
}

.about__footer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 171px;
}

.about__footer div {
	margin: 0 48px;
	text-transform: uppercase;
	position: relative;

	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 11px;
	color: #ADB3CB;
}

.about__footer div::before {
	display: block;
	content: "";
	position: absolute;
	top: 5px;
	right: 30px;
	width: 15px;
	height: 2px;
	background-color: #DAE4FE;
}

.about__footer div::after {
	display: block;
	content: "";
	position: absolute;
	top: 5px;
	right: -30px;
	width: 15px;
	height: 2px;
	background-color: #DAE4FE;
}

.about__btn {
	width: 113px;
	height: 43px;
	background-color: #D2E1FF;;
	border-radius: 2px;

	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	color: #3A79FF;

}

.about__btn:hover {
	background-color: #FFD7D7;
}

/* Stat */

.stat__flexbox {
	display: flex;
}

.stat__item {
	padding: 66px 0;
	min-height: 343px;
	flex: 1;
}

.stat__icon {
	margin-bottom: 24px;
}

.stat__count {
	margin-bottom: 19px;
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
}

.stat__text {
	width: 260px;
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 23px;
}

.stat--radio {
	text-align: end;
	padding-right: 90px;
	background-color: #6888FF;
	color: white;
}

.stat--men {
	padding-left: 90px;
	background-color: #E9EFFF;
	color: #5E80FF;
}

.stat--end {
	margin-left: auto;
}

/* Blog */

.blog {
	width: 100%;
	min-height: 865px;
	padding: 104px 0;
	background-color: #F5F8FF;
}

.blog__suptitle {
	margin-bottom: 20px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
	color: #3D4F9F;
}

.blog__title {
	margin-bottom: 92px;
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	text-align: center;
	color: #3D4F9F;
}

.blog__slider {
	position: relative;
	width: 958px;
	height: 394px;
	margin: 0 auto;
	padding: 33px 0 94px 0;
	background-color: #fff;
	display: flex;
	justify-content: center;
	border: 1px solid #A7AAC6;
	border-radius: 2px;
}

.blog__slider::before {
	display: block;
	content: url(icons/arrow-left.svg);
	position: absolute;
	top: 50%;
	left: -110px;
	cursor: pointer;
}

.blog__slider::after {
	display: block;
	content: url(icons/arrow-right.svg);
	position: absolute;
	top: 50%;
	right: -110px;
	cursor: pointer;
}

.blog__dots {
	margin: 71px auto 0;
}


.blog__images {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 407px;
	height: 267px;
	margin-right: 67px;
}

.blog__img {
	border-radius: 5px;
}

.blog__img:first-child {
	margin-right: 13px;
}

.blog__img:nth-child(2) {
	margin-bottom: 13px;
}

.blog__info {
	flex: 1;
	margin-right: 100px;

}

.blog__article {
	margin-bottom: 32px;
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	text-align: center;
	color: #3D4F9F;
}

.blog__text {
	margin-bottom: 35px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 27px;
	color: #8D96BD;
}

.blog__btn {
	margin-left: 20px;
	margin-right: 8px;
	width: 113px;
	height: 43px;
	background-color: #D2E1FF;
	border-radius: 2px;

	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	line-height: 16px;
	text-align: center;
	color: #3A79FF;
}

.blog__add {
	width: 211px;
	height: 43px;

	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	text-align: center;
	color: #A6B6DA;
}

.blog__loop {
	position: relative;
}

.blog__loop::after {
	display: flex;
	align-items: center;
	justify-content: center;
	content: url(icons/loop.png);
	width: 65px;
	height: 65px;
	background-color: #fff;
	position: absolute;
	top: 101px;
	right: 101px;
	border-radius: 50%;
	cursor: pointer;
}

/* quotes */

.quotes {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 479px;
	background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
}

.quotes__descr {
	flex: 1;
	max-width: 333px;
	margin: 0 120px 0 auto;
}

.quotes__suptitle {
	margin-bottom: 31px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 10px;
	text-transform: uppercase;
	color: #3D4F9F;
}

.quotes__title {
	margin-bottom: 14px;
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	color: #3D4F9F;
}

.quotes__text {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 23px;
	color: #A4ABC8;
}

.quotes__slider {
	flex: 1;
	max-width: 700px;
	margin-left: 20px;
	white-space: nowrap;
	overflow: hidden;
}

.quotes__card {
	display: inline-block;
	width: 423px;
	height: 175px;
	margin-right: 64px;
	margin-bottom: 78px;
	background-color: #fff;
	position: relative;
	white-space: normal;
}

.quotes__comm {
	padding: 41px 70px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #676F95;
}

.quotes__pic {
	width: 62px;
	height: 62px;
	position: absolute;
	bottom: -31px;
	left: 40%;
	border-radius: 50%;
	background-color: blue;
}

.quotes__dots {
	width: 168px;
	margin-left: 127px;
}

.quotes--next {
	opacity: 0.5;
	cursor: pointer;
	user-select: none;
}

/* FAQ */

.faq {
	width: 100%;
	min-height: 964px;
	padding: 176px 0 174px 0;
}

.faq__suptitle {
	margin-bottom: 20px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 10px;
	text-align: center;
	text-transform: uppercase;
	color: #3D4F9F;
}

.faq__title {	
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	text-align: center;
	color: #3D4F9F;
}

.faq__questions {
	width: 743px;
	min-height: 475px;
	margin: 0 auto;
}

.faq__item {
	min-height: 176px;
	border-bottom: 1px solid #D8E3FE;
	padding: 30px 0 28px 0;

}

.faq__article {
	margin-left: 50px;
	margin-bottom: 30px;
	position: relative;
	font-family: 'Quicksand';
	font-style: normal;
	font-size: 15px;
	font-weight: 700;
	color: #495274;
	cursor: pointer;
}

.faq__article::before {
	display: block;
	content: url(icons/open.svg);
	position: absolute;
	top: 0;
	left: -35px;
}

.faq__text {
	display: inline-block;
	margin-right: 62px;
	margin-left: 70px;
	width: 391px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 27px;
	color: #8D96BD;
}

.faq__btn {
	width: 195px;
	height: 43px;
	position: relative;
	top: -15px;
	background-color: #E8ECF4;

	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	text-align: center;
	color: #7382A3;
}

.faq--closed {
	min-height: 77px;
	height: 77px;
}

.faq--closed .faq__article {
	margin-bottom: 0;
	font-weight: 500;
	color: #8E96B7;
}

.faq--closed .faq__article::before {
	content: url(icons/closed.svg);
}

.faq--closed .faq__text, .closed .faq__btn {
	display: none;
}

/* Start */

.start {
	width: 100%;
	min-height: 447px;
	padding: 91px 0;
	text-align: center;
	color: #FFFFFF;
	background-image: url(img/start__bg.jpg);
}

.start__suptitle {
	margin-bottom: 20px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 10px;
	text-transform: uppercase;
}

.start__title {
	margin-bottom: 28px;
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 300;
	font-size: 48px;
}

.start__text {
	width: 650px;
	margin: 0 auto 50px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
}

.start__btn {
	width: 155px;
	height: 43px;
	border: 1px solid #A0B4FF;
	border-radius: 2px;

	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	text-align: center;
	color: #C7D3FF;
}

.start__btn:hover {
	background-color: #fff;
	color: #565F82;

}

/* Email */

.email {
	width: 100%;
	min-height: 332px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.email__info {
	flex: 1;
	max-width: 330px;
	margin: 0 80px 0 276px;
}

.email__article {
	margin-bottom: 18px;
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	color: #3D4F9F;
}

.email__text {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 27px;
	color: #8D96BD;
}

.email__form {
	flex: 1;
}

.email__input {
	margin-right: 10px;
	width: 279px;
	height: 59px;
	padding: 0 10px;
	border-radius: 5px;
	background-color: #EFEFF7;

	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	line-height: 16px;
	color: black;
}

.email__btn {
	width: 184px;
	height: 59px;
	border-radius: 5px;
	background-color: #4D6CE1;

	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	text-align: center;
	color: #FFFFFF;
}

/* Footer */

.footer {
	position: relative;
	padding-bottom: 80px;
	height: 287px;
	border-top: 1px solid #D8E3FE;
}

.copyright {
	position: absolute;
	top: 164px;
	left: 216px;

	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	text-transform: capitalize;
	color: #AEB8D0;
}